body {
    box-sizing: border-box;
}

a {
    color: #666;
    text-decoration: none;
}

ul {
    list-style: none;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

/*产品介绍*/
#product_intro {
    position: relative;
    padding-left: 510px;
    height: 404px;
    min-height: 404px;
}

/*产品预览*/
#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
}

#preview > #mediumDiv {
    width: 500px;
    height: 280px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

#preview > #mediumDiv img {
    vertical-align: middle;
    width: 500px;
    height: 280px;
}

#preview h1 {
    width: 502px;
    height: 54px;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

/*前后移动的按钮*/
#preview a.backward,
#preview a.forward,
#preview a.backward_disabled,
#preview a.forward_disabled {
    width: 17px;
    height: 54px;
    background-image: url(../Images/images/iconlist_1.png);
    background-repeat: no-repeat;
    display: block;
    z-index: 20;
    position: absolute;
    top: 5px;
}

#preview a.backward,
#preview a.backward_disabled {
    left: 0;
}

#preview a.forward,
#preview a.forward_disabled {
    right: 0;
}

#preview a.backward {
    background-position: 0 -139px;
}

#preview a.backward:hover {
    background-position: -34px -139px;
}

#preview a.backward_disabled {
    background-position: -68px -139px;
}

#preview a.forward {
    background-position: -17px -139px;
}

#preview a.forward:hover {
    background-position: -51px -139px;
}

#preview a.forward_disabled {
    background-position: -85px -139px;
}

/*产品的图标列表*/
#preview #icon_list {
    height: 54px;
    position: absolute;
    left: 0;
    top: 8px;
}

#preview #icon_list li {
    width: 85px;
    text-align: center;
    float: left;
}

#preview #icon_list li img {
    width: 73px;
    height: 43px;
    padding: 1px;
    border: 1px solid #CECFCE;
}

#preview #icon_list li img:hover {
    border: 2px solid #e4393c;
    padding: 0;
}

/*门票、玩乐、门票+酒店、附近酒店*/
.t1 {
    width: 980px;
    /*min-height:648px;*/
    border: 1px solid #ddd;
    margin: 20px 0;
}

/*页签*/
#navs {
    width: 980px;
    height: 52px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #50B6FB;
}

#navs > .navs li {
    float: left;
    width: 105px;
    height: 50px;
    border-right: 1px solid #ddd;
    padding: 10px 5px;
    text-align: center;
    font-size: 20px;
}

#navs > .navs li a {
    color: #363636;
    font-size: 20px;
    text-decoration: none;
}

#navs > .navs li.active a {
    color: #fff;
}

#navs > .navs li.active {
    background: #50B6FB;
}

#navs > .navs li a:hover {
    text-decoration: none;
}

/*页签下*/
.table {
    /*width:980px;*/
}

/**列表组详细*/
.table tr:hover {
    background: #EAF9FF;
}

.table td {
    line-height: 50px;
}

#tbl2 {
    height: 820px;
}

#tbl2 tbody td.first > span > a {
    color: #0065BB;
    padding-left: 20px;
}

#tbl1 tbody td.first > span > a {
    color: #0065BB;
    padding-left: 20px;
}

#tbl1 tbody td:nth-child(4) > span > b {
    color: #FF6600;
}

#tbl2 tbody td:nth-child(4) > span > b {
    color: #FF6600;
}

#tbl2 tbody td:nth-child(3) > span {
    color: #FF6600;
}

/**门票+酒店**/
#t-hotel, #nearby-hotel {
    width: 100%;
    min-height: 365px;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.t1 .media {
    width: 325px;
    height: 165px;
    /* 无效-border-left:1px solid #ddd;*/
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-top: 0;
    padding: 15px 3px 17px 15px;
}

.t1 .media:hover {
    background: #E5F2FD;
}

.t1 .media:nth-child(4) {
    border-right: 0;
}

.t1 .media:last-child {
    border-right: 0;
}

.t1 .media-body > p > strong {
    font-size: 16px;
    color: #0065C9;
}

.t1 .media-body span > b {
    color: #FF6600;
    font-size: 26px;
    font-weight: normal;
}

#t-hotel #panel {
    width: 100%;
    height: 35px;
    background: #eee;
    padding: 7px 10px 10px 20px;
}

#panel > b {
    font-weight: 500;
    font-size: 16px;
    /*padding-left: 20px;*/
}

#panel > a {
    color: #0065BB;
    font-size: 14px;
    /*padding-right: 10px;*/
}

/*附近酒店*/
#nearby-hotel #panel2 {
    width: 100%;
    height: 35px;
    background: #eee;
    padding: 7px 10px 10px 20px;
}

#panel2 > b {
    font-weight: 500;
    font-size: 16px;
}

#nearby-hotel h5 {
    color: #0065C9;
}

#nearby-hotel .media-body p > b {
    font-weight: normal;
}

#mid {
    width: 603px;
    height: 50px;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.mid li {
    float: left;
    width: 140px;
    height: 53px;
    line-height: 53px;
    border-right: 1px solid #ddd;
    text-align: center;
}

.mid li:last-child {
    border-right: 0;
}

.mid li:first-child {
    border-top: 3px solid #50B6FB;
    font-weight: bolder;
    color: #000;
}

.mid li a {
    font-size: 16px;
}

.mid a {
    /*float: right;*/
}

#mid-content {
    width: 965px;
    min-height: 3063px;
    border: 1px solid #ddd;
    position: relative;
    padding-top: 75px;
}

#mid-content > a {
    position: absolute;
    width: 110px;
    height: 45px;
    padding: 10px 0;
    top: -50px;
    right: 0;

}

#mid-content > div > img {
    position: absolute;
    left: 0;
    top: 0;
}

#mid-content p {
    padding: 0 35px;
    line-height: 25px;
}

#mid-content p > a {
    color: #0065B5;
}

#mid-content > img {
    margin-top: 50px;
    margin-bottom: 20px;
}

#mid-content1 {
    border-top: 1px dotted #ddd;
    position: relative;
    padding: 61px 35px 0 35px;
}

#mid-content1 #j_intro {
    position: absolute;
    top: 0;
    left: 0;
}

#mid-content1 p {
    line-height: 25px;
    /*padding-bottom: 20px;*/
}

#mid-content1 > p > span a {
    margin-left: 20px;
}

#mid-content1 > div > p > img {
    float: left;
}

#mid-content2, #mid-content3 {
    width: 965px;
    height: 1180px;
    position: relative;
    border-top: 1px dotted #ddd;
    margin-top: 270px;
}

#traffic-guide, #user-reviws {
    position: absolute;
    top: 0;
    left: 0;
}

#mid-content3 > p.first {
    padding-top: 61px;
    border-bottom: 1px dotted #ddd;
}

#mid-content3 > p.first > span > b {
    font-size: 28px;
    color: #266AC9;
}

#mid-content3 > p {
    margin: 0 35px;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}

#mid-content3 > p.last span:last-child b {
    font-weight: normal;
    margin-left: 10px;
}

/*分页*/
/*.pagination{
	float:right;
	margin-right:35px;
}*/
.pagers {
    margin: 15px 15px 0 0;
    /*float:right;*/
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.pagers li {
    display: inline-block;
    border: 1px solid #ddd;
    background: #f5f5f5;
    padding: 9px 13px;
}

.pagers li.active {
    border: 1px solid transparent;
    background: transparent;
}

.pagers li.active a {
    color: #e4393c;
    cursor: default;
}

.pagers {
    margin: 15px auto 0;
}

.pagers li {
    display: inline-block;
    border: 1px solid #ddd;
    background: #f5f5f5;
    padding: 9px 13px;
}

.pagers li.active {
    border: 1px solid transparent;
    background: transparent;
}

.pagers li.active a {
    color: #e4393c;
    cursor: default;
}

#around-view {
    width: 224px;
    height: 48px;
    border: 1px solid #ddd;
    border-top: 3px solid #00B8FB;
    margin-left: 25px;
    position: absolute;
    top: -52px;
    right: -245px;
}
#around-view h4 {
    margin-top: 15px;
}
.thumb-nail{
    margin-top: 0;
}


